<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Secret Santa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="styles.css") }}">
</head>
{% if name %}
<div style="background: darksalmon"><p>Welcome back {{ name }}!</p></div>
{% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <h2 style="text-align:center">{{ message }}</h2>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% block body %}{% endblock %}
<script type="text/javascript" src={{ url_for('static', filename="script.js") }}></script>


