{% extends "layout.html" %}
{% block body %}
    <div style="text-align: center">
        <h1>Instructions</h1>
        <p>To generate a new secret santa session click the the "generate" button</p>
        <p>To join an existing session enter the invitation code in the field and click join</p>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.invitation.label }}
                {{ form.invitation }}
                {{ form.submit }}
            </p>
        </form>
        <button type="button">Generate</button>
    </div>
{% endblock %}